.autocomplete-suggestions {
  border: 1px solid #66afe9;
  background: #fff;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
	line-height: 30px;
	cursor: pointer;
}

.autocomplete-selected {
	transition: background-color 0.5s ease;
  background-color: #f0f0f0;
}
