@import "mixin";

.lg-mobile-search-hide {
  height: 0;
  position: relative;
  top: -120px;
}

.lg-mobile-search {
  display: block;
  z-index: 2000;
  padding-top: 10px;
  background: white;
  height: 100% !important;
  width: 100%;
  position: fixed;
  top: 0;
  @include transition(padding-top, .2s, ease);
  form {
    width: 97%;
    margin: 0 auto;
    input {
      height: 40px;
    }
    .form-control {
      @include remove-box-shadow();
    }
  }

  .lg-recent-search {
    padding: 0 10px;
    h5 {
      margin-bottom: 15px;
      color: #666666;
    }
    a {
      text-decoration: none;
      color: #333333;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      padding: 5px 10px;
      margin: 2px 5px 2px 0;
    }
  }

  .lg-mobile-search-close-icon {
    display: block;
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
    button {
      border: none;
      background: transparent;
      outline: none;
    }
  }

  .lg-mobile-search-logo {
    position: absolute;
    bottom: 0;
		left: 50%;
		@include transform(translate(-50%, -50%))
  }
}
