@import "mixin";

.lg-navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    background: #fff;
    min-height: 60px;

    @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.1));
}

.lg-navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}

.lg-navbar-nav {
    margin-left: 10px;
}

.lg-navbar-nav .dropdown-menu > li > a {
    padding: 10px 20px;
}

.lg-navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.lg-navbar-nav-li--open {
    background-color: #e7e7e7;
}

.lg-navbar-brand {
    padding: 0px !important;
    margin: 15px 0 !important;
    width: 110px;
    height: 30px;
    background-position: -10px 0 !important;
    background-repeat: no-repeat;
    display: inline-block;

    @include background-image-set("https://user-images.githubusercontent.com/5471228/27991264-798a4390-64a3-11e7-96e2-53357f248c41.png", "https://user-images.githubusercontent.com/5471228/27991258-60fba35a-64a3-11e7-9677-57c6a7ad178a.png");

    @include mobile {
        margin-left: 15px !important;
    }
}

.lg-navbar-form {
    margin: 13px 0;
}


.lg-navbar-login {
	margin: 5px 0;
}
ul.lg-navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
