.lg-side-nav {
  height: 100%;
  position: fixed;
  top: 0;
  left: -150px;
  width: 150px;
  background-color: rgba(60, 60, 68, 1);
  padding-top: 10px;
  transition: 0.5s;
  -webkit-font-smoothing: antialiased;
}

.lg-side-nav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
  transition: 0.3s;
}

.lg-main {
  transition: margin-left .5s;
}
