<div class="lg-main">
	<nav class="navbar navbar-default navbar-fixed-top lg-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle lg-navbar-toggle" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
			</button>
				<button type="button" class="lg-navbar-search pull-right hidden-sm hidden-md hidden-lg">
				<i class="glyphicon glyphicon-search"></i>
			</button>
				<a class="navbar-brand lg-navbar-brand" href="#"></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav lg-navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right lg-navbar-nav">
					<li><a href="#">登录</a></li>
				</ul>
				<form class="navbar-form navbar-right lg-navbar-form">
					<div class="form-group">
						<input type="text" id="auto-complete-search" class="form-control" placeholder="K线组合">
					</div>
					<button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-search"></i>搜索</button>
				</form>
			</div>
		</div>
	</nav>
	<div id="mobile-search-form" class="container lg-mobile-search-hide">
		<div class="row">
			<div>
				<form class="form-inline" action="" method="get">
					<input id="lg-mobile-autocomplete" maxlength="20" name="text" type="text" class="form-control" placeholder="股票术语">
					<input type="hidden" name="page" value="1">
				</form>
			</div>
			<div class="lg-mobile-search-close-icon">
				<button type="button" aria-label="close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="lg-recent-search">
				<h5>大家都在搜:</h5>
				<a href="">市盈率</a>
				<a href="">市净率</a>
			</div>
			<div class="lg-mobile-search-logo">乐咕乐股网</div>
		</div>
	</div>
</div>

<div class="lg-side-nav">
	<a href="#">首页</a>
	<a href="#">中小板市盈率</a>
	<a href="#">中小板市盈率</a>
	<a href="#">中小板市盈率</a>
	<a href="#">中小板市盈率</a>
</div>
